<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}
  {% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

{% block style %}
{% endblock style %}
  

  <!-- Template Main CSS File -->
  <link href="static/style.css" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">


      </div>

      
    </div>
  </header><!-- End Header -->

  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
    {% block content %}
 
{% endblock content %}
    </div>
  </section><!-- End Intro Section -->

<div class="main">

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
       
    </div>

    <div class="container">
   
      <div class="credits">
      
    </div>
  </footer><!-- End  Footer -->


  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>





</body>

</html>